@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@font-face {
    font-family: ds-dgii;
    src: url(/assets/fonts/DS-DIGII.TTF);
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
}

.container {
    width: 32%;
    margin-top: 100px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    background-color: rgb(162, 164, 160);
}

.logo {
    font-family: 'Michroma', sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    margin: 0px 0px 12px 18px;

    
}
/* <---------- Display ----------> */

.display {
    background-color: black;
    width: calc(86px + 258px);
    height: 70px;
    padding-top: 30px;
    padding-bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    border-radius: 8px;
}

.number-display {
    font-family: 'ds-dgii','Courier New', Courier, monospace;
    color: rgb(248, 63, 1);
    font-size: 48px;
    padding: 12px;
    text-shadow: 0px 0px 8px red;
    letter-spacing: 1px;
}




/* <---------- Buttons ----------> */
.buttons {
    margin: 24px 0px;
    display: flex;
    flex-direction: row;
}
.buttons-container {
    /* background-color: yellow; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /* <---------- Numbers ----------> */
.number-buttons,
.operator-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom,
.option-row {
    display: flex;
}
.two-width {
    /* 0 button */
    width: 164px;
}

button {
    font-family: 'Michroma','Courier New', Courier, monospace;
    font-size: 20px;

    width: 80px;
    height: 60px;
    margin: 3px 3px;

    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px #3a3a3a;
}

button:hover {
    background-color: rgb(151, 150, 150);
}
.operator {
    background-color: #3a3a3a;
    color: whitesmoke;
}
.option {
    background-color: rgb(255, 91, 41);
}


