.buttons-container {
    display: flex; 
    flex-direction: row;
}
.number-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.operator-buttons {
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px;
    width: 48px;
    height: 48px;
}

.display {
}

.number-display {
    color: red;
    font-size: 100px;
}

.activate {
    background-color: greenyellow;
}